* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
}

.heading-1 span {
  color: crimson;
}

.heading-2 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: crimson;
  padding-bottom: 05px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(75, 75, 75);
  padding-bottom: 15px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: crimson;
  font-weight: 200;
  border-right: 1.5px solid rgb(75, 75, 75);
  padding-right: 10px;
}

.sub-heading .importent {
  color: rgb(216, 216, 216);
  font-weight: 300;
}

/* ÃREA PARA FAZER A HOME PAGE */

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px
}

.home-img {
  width: 100%;
}

.lista {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

.lista img {
  width: 100%;
  height: 80px;
}

/* ARTICLE */
article>p {
  font-size: 20px;
  margin-bottom: 20px;
  columns: 3 25ch;
  column-gap: 40px;
  hyphens: auto;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
  color: crimson;
}

/* blockquote */

blockquote {
  font-size: 20px;
  padding: 10px 30px;
  margin-bottom: 40px;
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -60px;
  left: -15px;
  opacity: .3;
  color: crimson;
  font-size: 150px;
}

.cards {
  columns: 25ch 3;
  gap: 40px;
  margin-bottom: 40px;
}

.card {
  font-size: 20px;
  border: 1px solid crimson;
  padding: 10px 20px;
  break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0px 15px 15px rgb(211, 211, 211);
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
  }

  .listas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }

  .lista {
    grid-template-columns: 1fr 5fr;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .listas {
    grid-template-columns: 1fr;
  }
}